[oktawave] # auth data for oktawave (you use them on https://admin.oktawave.com/Pages/Login.aspx)
user: USERNAME
password: PASSWORD
public_ssh_key: ~/.ssh/id_rsa.pub
private_ssh_key: ~/.ssh/id_rsa

[ocs] # auth data for OCS (you use them on https://admin.oktawave.com/Pages/Services/Storage.aspx)
user: OCS_USERNAME
password: OCS_PASSWORD
container: DEFAULT_OCS_CONTAINER_NAME
